<div class="ui grid">
  <div class="one column row">
    <div class="column">
      <div class="dashboard-welcome">
        <h1>Welcome <%- userData.userName %></h1>
      </div>
    </div>
  </div>

  <div class="three column row">
    <div class="column">
      <div class="ui card">
        <div class="content">
          <div class="header"><i class="user icon"></i> Users</div>
          <div class="description">Manage users for the application.</div>
        </div>
        <div class="ui bottom attached button violet">
          <i class="add icon"></i>
          Create New
        </div>
      </div>
    </div>

    <div class="column">
      <div class="ui card">
        <div class="content">
          <div class="header"><i class="building icon"></i> Entities</div>
          <div class="description">Manage entities for the application.</div>
        </div>
        <div class="ui bottom attached button violet">
          <i class="add icon"></i>
          Create New
        </div>
      </div>
    </div>

    <div class="column">
      <div class="ui card">
        <div class="content">
          <div class="header"><i class="clock icon"></i> Logs</div>
          <div class="description">Manage entities for the application.</div>
        </div>
        <div class="ui bottom attached button violet">
          <i class="eye icon"></i>
          View Logs
        </div>
      </div>
    </div>
  </div>
</div>
