<div class="ui grid">
  <div class="four column row">
    <div class="column">
      <div class="ui card">
        <div class="content">
          <div class="header">Cute Dog</div>
          <div class="meta">
            <span>2 days ago</span>
            <a>Animals</a>
          </div>
          <p></p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui card">
        <div class="content">
          <div class="header">Cute Dog</div>
          <div class="meta">
            <span>2 days ago</span>
            <a>Animals</a>
          </div>
          <p></p>
        </div>
      </div>
    </div>
    <div class="column">
        <div class="ui card">
          <div class="content">
            <div class="header">Cute Dog</div>
            <div class="meta">
              <span>2 days ago</span>
              <a>Animals</a>
            </div>
            <p></p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui card">
          <div class="content">
            <div class="header">Cute Dog</div>
            <div class="meta">
              <span>2 days ago</span>
              <a>Animals</a>
            </div>
            <p></p>
          </div>
        </div>
      </div>
  </div>
</div>

<% EndpointsList.forEach(function(endpoint) { %>
<tr>
  <td><%= endpoint.path %></td>
  <!-- Render more endpoint properties if needed -->
</tr>
<% }); %>
